/* font family */
body {
    font-family: 'Open Sans', sans-serif;

}

.text-primary {
    color: #FD6D0A;

}

/* button style start */
.btn-flex {
    display: flex;
    gap: 10px;
}

.btn-primary {
    display: block;
    border-radius: 5px;
    background: #FD6D0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.section-descrption {
    color: #757575;
    text-align: center;
    font-size: 18px;

}

/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 20px;
    font-weight: 400;


}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related style */
.header {
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
    min-height: 800px;
    width: 100%;


}

/* bnanner related style */
.banner {

    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner-content {
    max-width: 500px;
}

.banner .Profile-pic {
    width: 500px;
    height: 676px;
    padding-bottom: 0;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    margin-bottom: 0;


}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    margin-top: 30px;
}

/* main section css */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* about section css */
.about {
    padding: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    margin: 130px 0;

}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about-info {
    text-align: center;
}

/* skill css start */
#what-i-do-descrption {
    padding: 30px 150px;

}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-descrpction {
    color: #757575;
}

/* Resume collumn section */
.resume-colum-title {
    color: #474747;

    font-size: 30px;

    font-weight: 700;

}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;


}

.resume-item-institute {
    margin-bottom: 20px;
    margin-top: 0px;
}

.resume-item-descrpction {
    color: #757575;
}

.download-cv {
    text-align: center;
    margin-top: 50px;

}

/* footer section css start */
footer {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
}

.footer-colum {
    width: 50%;

}

.social-link a {
    margin-right: 25px;
}

.contact input[type="text"],
.contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}

/* Responsive layout */

/* mobile device */
.hide {
    display: none;
}

@media screen and (max-width:576px) {
    .header {
        background-image: none;

    }

    nav,
    nav>ul,
    .banner,
    .skills-container,
    .resume-container,
    .about-info-container,
    footer {
        flex-direction: column;
    }

    nav>ul {
        gap: 10px;
    }

    .banner .Profile-pic {
        width: 50%;
        height: 50%;
    }

    .banner-greeting {
        font-size: 16px;
    }

    .banner-title {
        font-size: 30px;
    }

    .banner-description {
        font-size: 16px;
    }

    .banner,
    .what-i-do-descrptiion {
        padding: 20px;
    }

    footer {
        padding: 10px;
    }

    .about {
        /* margin-top: 200px;
        padding-top: 200px; */
        border: 2px solid tomato;
    }

    .btn-flex {
        display: initial;
        
    
    }

    .btn-primary {
        margin-bottom: 15px;
    }

    .footer-colum {
        width: 100%;
    }

    .contact input[type="text"],
    .contact input[type="email"],
    textarea {
        width: 80%;
    }
}

@media screen and (min-width:577px) and (max-width:960px) {
    footer {
        padding: 10px;
    }
}